<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The app needs to access your media library to get music. If you do not allow access, local music cannot be added.</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This will allow the app to find and connect Bluetooth accessories. This app may also use Bluetooth to locate Bluetooth device.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>To add or use Bluetooth devices, enable Bluetooth on your mobile phone.</string>
	<key>NSCameraUsageDescription</key>
	<string>The App can use camera to take new profile and to scan QR Code.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>The purpose of the app connecting to the local network: enable pairing and control of the devices connected to the local area network</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Please enable location Service to use smart, device timer, weather and time zone information</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need your authorization to save pictures and videos in albums.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>The app requests access to your albums for profile photo uploading.</string>
</dict>
</plist>
